<form (ngSubmit)="onSubmit()" [formGroup]="editForm">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" formControlName="name">
  </div>
  <div class="mb-3">
    <label for="from" class="form-label">From</label>
    <select id="from" class="form-control" formControlName="from" [compareWith]="compareLookupItems">
      <option *ngFor="let n of entities" [ngValue]="{id: n.id, name: n.name}">
        {{ n.name }}
      </option>
    </select>
  </div>
  <div class="mb-3" *ngIf="editForm.get('from')?.value">
    <div><label class="form-label">Select</label></div>
    <div class="btn-group">
      <ng-container *ngFor="let n of properties">
        <input type="checkbox" class="btn-check" id="select-check-{{n.id}}" [checked]="isGroupCheckChecked('select', n)"
               (change)="onGroupCheckChange('select', properties, $event)" autocomplete="off" [value]="n.id">
        <label class="btn btn-outline-primary" for="select-check-{{n.id}}">
          <i *ngIf="n.type === 'key'" class="bi-key-fill"></i> {{n.name}}
        </label>
      </ng-container>
    </div>
  </div>
  <div class="mb-3">
    <label for="where" class="form-label">Where</label>
    <input type="text" class="form-control" id="where" formControlName="where">
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <input type="text" class="form-control" id="description" formControlName="description">
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!editForm.valid">Submit</button>
  <a class="btn" routerLink="..">Back</a>
</form>
