<form (ngSubmit)="onSubmit()" [formGroup]="editForm">
  <div class="mb-3">
    <label for="project" class="form-label">Project</label>
    <select id="project" class="form-control" formControlName="project" [compareWith]="compareLookupItems">
      <option *ngFor="let n of projects" [ngValue]="n" [selected]="n.id === editForm.get('project')?.value?.id">
        {{ n.name }}
      </option>
    </select>
  </div>
  <div class="mb-3">
    <label for="actor" class="form-label">Actor</label>
    <select id="actor" class="form-control" formControlName="actor" [compareWith]="compareLookupItems">
      <option *ngFor="let n of actors" [ngValue]="n" [selected]="n.id === editForm.get('actor')?.value?.id">
        {{ n.name }}
      </option>
    </select>
  </div>
  <div class="mb-3">
    <label for="action" class="form-label">Action</label>
    <select id="action" class="form-control" formControlName="action" [compareWith]="compareLookupItems">
      <option *ngFor="let n of actions" [ngValue]="n" [selected]="n.id === editForm.get('action')?.value?.id">
        {{ n.name }}
      </option>
    </select>
  </div>
  <div class="mb-3">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="type" id="typeEntity" value="entity" formControlName="type">
      <label class="form-check-label" for="typeEntity">Entity</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="type" id="typeQuery" value="query" formControlName="type">
      <label class="form-check-label" for="typeQuery">Query</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="type" id="typeFunction" value="function" formControlName="type">
      <label class="form-check-label" for="typeFunction">Function</label>
    </div>
  </div>
  <div class="mb-3" *ngIf="editForm.get('type')?.value === 'entity'">
    <label for="entity" class="form-label">Entity</label>
    <select id="entity" class="form-control" formControlName="entity" [compareWith]="compareLookupItems">
      <option *ngFor="let n of entities" [ngValue]="n" [selected]="n.id === editForm.get('entity')?.value?.id">
        {{ n.name }}
      </option>
    </select>
  </div>
  <div class="mb-3" *ngIf="editForm.get('type')?.value === 'query'">
    <label for="query" class="form-label">Query</label>
    <select id="query" class="form-control" formControlName="query" [compareWith]="compareLookupItems">
      <option *ngFor="let n of queries" [ngValue]="n" [selected]="n.id === editForm.get('query')?.value?.id">
        {{ n.name }}
      </option>
    </select>
  </div>
  <div class="mb-3" *ngIf="editForm.get('type')?.value === 'function'">
    <label for="function" class="form-label">Function</label>
    <select id="function" class="form-control" formControlName="function" [compareWith]="compareLookupItems">
      <option *ngFor="let n of functions" [ngValue]="n" [selected]="n.id === editForm.get('function')?.value?.id">
        {{ n.name }}
      </option>
    </select>
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <input type="text" class="form-control" id="description" formControlName="description">
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!editForm.valid">Submit</button>
  <a class="btn" routerLink="..">Back</a>
</form>
