<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="dashboard" class="nav-link px-2 text-secondary"><b><span class="badge bg-secondary">DASHBOARD</span></b></a></li>
        <li><a routerLink="management/projects" class="nav-link px-2 text-secondary"><b>PROJECTS</b></a></li>

        <ng-container *ngIf="routeUrl?.startsWith('/management/projects/view/')">
          <li *ngFor="let route of ['cases', 'actors', 'actions', 'entities', 'queries', 'functions']">
            <a routerLink="management/projects/view/{{projectId}}/{{route}}" routerLinkActive="text-light" class="nav-link px-2 text-secondary">
              <b>{{route.toUpperCase()}}</b>
            </a>
          </li>
        </ng-container>
      </ul>

      <div class="text-end">
        <div *ngIf="authService.isLoggedIn; else anonymousBlock">
          <button type="button" class="btn btn-secondary me-2" routerLink="profile">
            <i class="bi-person-fill"></i>
          </button>
          <button type="button" class="btn btn-outline-light me-2" (click)="authService.SignOut()">Logout</button>
        </div>
        <ng-template #anonymousBlock>
          <button type="button" class="btn btn-outline-light me-2" routerLink="sign-in">Login</button>
          <button type="button" class="btn btn-warning" routerLink="sign-up">Sign-up</button>
        </ng-template>
      </div>
    </div>
  </div>
</header>

<div class="container pt-3">
  <router-outlet></router-outlet>
</div>
