<form [formGroup]="profileForm">
  <div class="mb-3">
    <label for="displayName" class="form-label">Display Name</label>
    <input type="text" class="form-control" id="displayName" formControlName="displayName">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="text" class="form-control" id="email" formControlName="email">
  </div>
</form>
<button *ngIf="!production" class="btn btn-danger" (click)="onRemoveCleanUp()">Clean-up database</button>
