<div class="accordion">
  <div class="accordion-item" *ngFor="let project of projects$ | async">
    <h2 class="accordion-header" id="{{project.id}}-heading">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#' + project.id + '-collapse'">
        {{project.name}}
      </button>
    </h2>
    <div [id]="project.id + '-collapse'" class="accordion-collapse collapse show">
      <div class="accordion-body">
        <ol class="list-group list-group-flush list-group-numbered">
          <li class="list-group-item" *ngFor="let actorsMap of useCases$
            | async
            | filterByProject : project.id
            | groupBy : 'actor.name'
            | keyvalue">

            {{ actorsMap.key }}

            <ol class="list-group list-group-flush list-group-numbered">
              <li class="list-group-item" *ngFor="let actionMap of actorsMap.value | groupBy : 'action.name' | keyvalue">
                {{ actionMap.key }}

                <ol class="list-group list-group-flush list-group-numbered">
                  <li class="list-group-item" *ngFor="let useCase of actionMap.value">
                    <a routerLink="../management/projects/view/{{project.id}}/cases/{{useCase.id}}">
                      {{ useCase.entity?.name || useCase.query?.name || useCase.function?.name }}
                    </a>
                  </li>
                </ol>
              </li>
            </ol>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div *ngIf="loading" class="d-flex justify-content-center"><div class="spinner-border" role="status"></div></div>
